registrable==0.0.4
transformers==4.44.2
opencv-python==4.10.0.84
spacy==3.7.6
#beautifulsoup4==4.11.2
datasets==2.14.7
pycryptodome==3.19.0
PyMuPDF==1.23.22
sec-parser==0.58.1
pydantic==2.8.2

pandas==2.2.2
lxml==5.2.2
wordcloud==1.9.3
gradio==4.42.0

# Required for deepdoctection (modified from the requirements of deepdoctection)
lazy-imports==0.3.1
attrs==21.4.0
    # via jsonlines
catalogue==2.0.10
    # via deepdoctection (setup.py)
certifi==2021.10.8
    # via requests
charset-normalizer==2.0.12
    # via requests
filelock==3.6.0
    # via huggingface-hub
fsspec==2023.9.2
    # via huggingface-hub
huggingface-hub==0.23.2
    # via deepdoctection (setup.py)
idna==3.3
    # via requests
importlib-metadata==7.1.0
    # via deepdoctection (setup.py)
jsonlines==3.1.0
    # via deepdoctection (setup.py)
mock==4.0.3
    # via deepdoctection (setup.py)
networkx==2.7.1
    # via deepdoctection (setup.py)
numpy==1.26.4
    # via deepdoctection (setup.py)
packaging==21.3
    # via
    #   deepdoctection (setup.py)
    #   huggingface-hub
pillow==9.5.0
    # via deepdoctection (setup.py)
pyparsing==3.0.7
    # via packaging
pypdf==3.17.3
    # via deepdoctection (setup.py)
pyyaml==6.0.1
    # via
    #   deepdoctection (setup.py)
    #   huggingface-hub
pyzmq==26.2.0
    # via deepdoctection (setup.py)
requests==2.32.3
    # via huggingface-hub
tabulate==0.9.0
    # via deepdoctection (setup.py)
termcolor==2.0.1
    # via deepdoctection (setup.py)
tqdm==4.64.0
    # via
    #   deepdoctection (setup.py)
    #   huggingface-hub
typing-extensions==4.12.2
    # via
    #   huggingface-hub
    #   pypdf
urllib3==2.0.6
    # via requests
zipp==3.7.0
    # via importlib-metadata